.campus {
  height: 100vh;
  overflow: hidden;
}

.campus__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 8vw 40px;
}

.campus__gallery {
  width: 100%;
}
