.app {
  min-height: 100vh;
}

.app__background {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.app__main {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 100vh;
  min-width: 1024px;
}
